
/* First Page */

.home-page{
    font-family: 'Marcellus', serif;
    margin-top: 45px;
    margin-bottom: 50px;
    width: 50%;
    text-align: center;
}

.home-page img{
    border: 2px solid black;
}


.text{
    width: 50%;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 25px;
}
.text h1{
    text-decoration: underline;
}

.list-buttons{
    justify-content: center;
    text-align: center;
}

.list-buttons p{
    margin-top: 15px;
}


/* Mike's Styles */

.mikeHead{
    text-align: center;
    text-decoration: underline;
}
.mikeBox{
    background-color: grey;
}
.accordion-body {
    background-color: white;
    text-align: center;
    

}


.accordion-button {
    position: relative;
    display: flex;
    color: black;
    background-color: white;

    &:not(.collapsed){
        color: black;
        background-color:white;
    }

}

/* Caleb's Top Ten */

.caleb-header {
    font-family: 'Marcellus', serif;
    text-decoration: underline;
    margin-top: 75px;
    text-align: center;
}

.box-bg{
    background-color: #D9D9D9;
    font-family: 'Marcellus', serif;
    margin-top: 35px;
    width: 75%;
    margin-bottom: 40px;
}

.space-me{
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.fry-ten{
    padding-top: 25px;
}
.fry-one{
    padding-bottom: 30px;
}
